<%include ./partials/header%>
<form method='POST' action='/login'>
    <input type='text' name='username' placeholder='username'>
    <input type='text' name='password' placeholder='password'>
    <!--<button class='btn btn-primary'>Log In</button>-->
    <input type='submit' value='Log In' class='btn btn-primary'>
</form>

<%include ./partials/footer%>